{% extends 'cursos/base.html' %}

{% block title %}
  Pruebas
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Esta es una pagina de prueba</h1>
    <p>Saludos a {{ nombre }}</p>
    <p>{{ biografia | lower | truncatechars:20}}</p>
    <p>{{edad}}</p>
    <p>{{es_premium}}</p>
    <p>{{fecha_registro}}</p>
    <p>{{habilidades}}</p>
    <p>{{seguidores}}</p>
    <p>{{web_personal}}</p>
  </div>
  <div class="container">
    {% if edad > 18 and es_premium %}
      <p>El usuario es mayor de edad y tiene una cuenta premium.</p>
    {% elif edad > 18 %}
      <p>El usuario es mayor de edad pero no tiene cuenta premium</p>
    {% elif es_premium %}
      <p>El usuario no es mayor de edad pero tiene una cuenta premium</p>
    {% else %}
      <p>El usuario es menor de edad y no tiene cuenta premium.</p>
    {% endif %}
    <ul>
      {% for habilidad in habilidades %}
        <li {% if habilidad == 'Django' %} style="color: green;" {%endif%}>{{ forloop.counter0 }}. {{ habilidad }}</li>
      {% empty %}
        <li>No hay habilidades disponibles.</li>
      {% endfor %}
    </ul>    
  </div>
  <div class="container">
<form action="{% url 'cursos:prueba' %}" method="post">
    {%csrf_token%}
    Nombre:<br>
    <input type="text" name="nombre" id="nombre"><br>
    Edad: <br>
    <input type="number" name="edad" id="edad">
    <br>
    Biografia: <br>
    <textarea name="biografia" id="biografia" cols="30" rows="10"></textarea>
    <br>
    <button type="submit">Ingresar</button>
  </form>
  </div>
  
{% endblock %}
